<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <link rel="stylesheet" href="../static/css/style.css">

    <link rel="icon" href="../static/img/icon1.svg" type="image/gif" sizes="16x16">
    <title>Solace | About Us</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="font-size: 20px !important;">
            
      <!-- Navigation Bar Logo / Toggle Icon -->
      <a class="navbar-brand" href="../index.html"><img src="../static/img/icon1.svg" width="60" height="62" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navigation Bar Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link" href="../index.html">Home</a></li>
          <li class="nav-item active"><a class="nav-link disabled" href="#">About</a></li>
          <li class="nav-item"><a class="nav-link" href="vision.html">Vision</a></li>
          <li class="nav-item"><a class="nav-link" href="login.php">Login</a></li>
        </ul>

        <!-- Navigation Search Bar -->
        <form class="form-inline my-2 my-lg-0">
          <div class="container-fluid">
            <div class="row">
              <div class="col-8"><input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"></div>
                <div class="col"><button class="btn btn-outline-secondary" type="submit"><i class="fa fa-search text-white"></i></button></div>
              </div>
            </div>
        </form>
      </div>

    </nav>


    <div class="section2">
        <div class="welcome-msg">
            <br><br><br>
          <h2>Who Are We?</h2><br><br>

            <!-- Container 2 Paragraph -->

              <h4>There are many variations of passages of Lorem Ipsum available, 
                but the majority have suffered alteration in some form, by 
                injected humour, or randomised words which don't look even 
                slightly believable. If you are going to use a passage of 
                Lorem Ipsum, you need to be sure there isn't anything embarrassing 
                hidden in the middle of text. All the Lorem Ipsum generators 
                on the Internet tend to repeat predefined chunks as necessary, 
                making this the first true generator on the Internet. <br><br>
                 <div class="standout">Scroll down to meet us!</div> <br><br>
              </h4>
              
        </div>
    </div>
  


    <div class="section2">
      <div class="welcome-msg">
        
        <div class="row">
          <!-- Container 2 Paragraph -->
          <div class="col-md-6">
            <h2>Almash Alam</h2><br>
            <div class="standout-about">The front-end developer</div> <br><br>
            <h4>Behold! Our front-end developer. The developer of the layout before login.
               That also includes the page you're currently on. Her expertise lies in 
               binge-eating and still not gaining weight. Her mother is not a fan of 
               this superpower. She likes sci-fi movies and comics. She wants to sleep 
               and game, but in reality, she ends up working all day. She want this 
               world to be a happy place.
              <br><br>She hates humans in general. 
              <br><br>So, she tries to finds solace in books :P
            </h4>
            <div class="second2" style="margin-bottom: 0 !important;">
                <a href="https://instagram.com" target="_blank"> <i class="fab fa-instagram fa-2x margin"></i></a>
                <a href="https://github.com/" target="_blank"> <i class="fab fa-github fa-2x margin"></i></a>
                <a href="https://www.linkedin.com" target="_blank"> <i class="fab fa-linkedin fa-2x margin"></i></a>
              </div>
          </div>
    
          <!-- Container 2 Image -->
          <div class="col-md-6">
            <div class="thumbnail"><img src="../static/video/gif2.gif" alt="" style="margin-top: 10%; width:65%; margin-left: 10%;"></div>
          </div>
    
        </div>
      </div>
    </div>

    <div class="section2">
        <div class="welcome-msg">
          
          <div class="row">
            <!-- Container 2 Paragraph -->
            <div class="col-md-6">
              <h2>Ansel D'Souza</h2><br>
              <div class="standout-about">The back-end developer</div> <br><br>
              <h4>Lorem Ipsum is simply dummy text of the printing 
                and typesetting industry. Lorem Ipsum has been the 
                industry's standard dummy text ever since the 1500s, 
                when an unknown printer took a galley of type and 
                scrambled it to make a type specimen book. It has 
                survived not only five centuries, but also the leap 
                into electronic typesetting, remaining essentially 
                unchanged. It was popularised in the 1960s with the 
                release of Letraset sheets containing Lorem Ipsum 
                passages, and more recently with desktop publishing 
                software like Aldus PageMaker including versions of 
                Lorem Ipsum.
              </h4>
              <div class="second2" style="margin-bottom: 0 !important;">
                  <a href="https://instagram.com" target="_blank"> <i class="fab fa-instagram fa-2x margin"></i></a>
                  <a href="https://github.com/" target="_blank"> <i class="fab fa-github fa-2x margin"></i></a>
                  <a href="https://www.linkedin.com" target="_blank"> <i class="fab fa-linkedin fa-2x margin"></i></a>
                </div>
            </div>
      
            <!-- Container 2 Image -->
            <div class="col-md-6">
              <div class="thumbnail"><img src="../static/video/ansel.gif" alt="" style="margin-top: 10%; width:65%; margin-left: 10%;"></div>
            </div>
      
          </div>
        </div>
      </div>


      <div class="section2">
        <div class="welcome-msg">
          
          <div class="row">
            <!-- Container 2 Paragraph -->
            <div class="col-md-6">
              <h2>Mrudula Acharya</h2><br>
              <div class="standout-about">The user-end developer</div> <br><br>
              <h4>Welcome, our user-end developer. Whatever you see after login is 
                developed by her. She is cute shorty, and she looks exactly like 
                the girl you see next to her profile. Except, she is not blonde. 
                She's a sleepyhead and also a Potterhead! Also, she's a bookworm, 
                so next time you see her down give her some coffee and a good book. <br><br>
                She hates the world, rather the people in the world. <br><br>So, she tries to find solace in books :P
              </h4>
                <div class="second2">
                  <a href="https://instagram.com" target="_blank"> <i class="fab fa-instagram fa-2x margin"></i></a>
                  <a href="https://github.com/" target="_blank"> <i class="fab fa-github fa-2x margin"></i></a>
                  <a href="https://www.linkedin.com" target="_blank"> <i class="fab fa-linkedin fa-2x margin"></i></a>
                </div>
            </div>
      
            <!-- Container 2 Image -->
            <div class="col-md-6">
              <div class="thumbnail"><img src="../static/video/gif4.gif" alt="" style="margin-top: 10%; width:65%; margin-left: 10%;"></div>
            </div>
      
          </div>
        </div>
      </div>
    
      <div class="line-footer"></div>
        <!-- Footer -->
      <footer class="page-footer font-small  pt-4">

        <!-- Footer Elements -->
        <div class="container-footer">
        
          <!-- Social buttons -->
          <ul class="list-unstyled list-inline text-center second2">
            <li class="list-inline-item"><a class="btn-floating btn-fb mx-1" href="https://facebook.com/" target="_blank"><i class="fab fa-facebook-f"> </i></a></li>
            <li class="list-inline-item"><a class="btn-floating btn-tw mx-1" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"> </i></a></li>
            <li class="list-inline-item"><a class="btn-floating btn-gplus mx-1" href="https://gmail.com" target="_blank"><i class="fab fa-google-plus-g"> </i></a></li>
            <li class="list-inline-item"><a class="btn-floating btn-li mx-1" href="https://linkedin.com" target="_blank"><i class="fab fa-linkedin-in"> </i></a></li>
            <li class="list-inline-item"><a class="btn-floating btn-dribbble mx-1" href="https://instagram.com" target="_blank"><i class="fab fa-instagram"> </i></a></li>
          </ul>

          <h6 class="text-uppercase mb-4 text-center font-weight-bold">Contact</h6>

          <ul class="list-unstyled list-inline text-center">
            <li class="list-inline-item"><p><i class="fas fa-home mr-3"></i>New York, NY 10012, US  |</p></li>
            <li class="list-inline-item"><p><i class="fas fa-envelope mr-3"></i>solace@gmail.com  |</p></li>
            <li class="list-inline-item"><p><i class="fas fa-phone mr-3"></i>+ 91 90 234 567 88  |</p></li>
            <li class="list-inline-item"><p><i class="fas fa-print mr-3"></i>+ 91 90 234 567 89</p></li>
          </ul>
          <!-- Social buttons -->
        
        </div>
        <!-- Footer Elements -->

        <!-- Copyright -->
        <div class="footer-copyright text-center  py-3">© 2020 Copyright:<a class="text-white" href="#"> Solace</a></div>
        <!-- Copyright -->

      </footer>
      <!-- Footer -->

    <script src="../static/js/script.js"></script>
</body>
</html>