<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"> -->
  	
  	<!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script> -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script> -->
    <link rel="stylesheet" href="../static/css/payment.css">
    <script src="../static/js/booksData.js"></script>
    <script src ="../static/js/cart.js" async></script>
</head>
<body>
    

    <div class='container' id="outercontainer">
        <div id="paymentform">
        <div class='info'>
          <h1>Payment Card</h1>
        </div>
        <form class='modal'>
          <header class='header'>
            <h1>Payment Portal</h1>
            <div class='card-type'>
              <a class='card active' href='#'>
                <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/169963/Amex.png'>
              </a>
              <a class='card' href='#'>
                <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/169963/Discover.png'>
              </a>
              <a class='card' href='#'>
                <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/169963/Visa.png'>
              </a>
              <a class='card' href='#'>
                <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/169963/MC.png'>
              </a>
            </div>
          </header>
          <div class='content'>
            <div class='form'>
              <div class='form-row'>
                <div class='input-group'>
                  <label for=''>Name on card</label>
                  <input placeholder='' type='text'>
                </div>
              </div>
              <div class='form-row'>
                <div class='input-group'>
                  <label for=''>Card Number</label>
                  <input maxlength='16' placeholder='' type='number'>
                </div>
              </div>
              <div class='form-row'>
                <div class='input-group'>
                  <label for=''>Expiry Date</label>
                  <input placeholder='' type='month'>
                </div>
                <div class='input-group'>
                  <label for=''>CVS</label>
                  <input maxlenght='4' placeholder='' type='number'>
                </div>
              </div>
            </div>
          </div>
          <footer class='footer'>
            <button class='button' type="submit" id="payment"  onclick="orderBooks()">Complete Payment</button>
          </footer>
        </form>
    </div>
      </div>
      
      <script>
          $('.card').on('click', function(e) {
            e.preventDefault();
            $('.card').removeClass('active');
            $(this).addClass('active');
            $('.form').stop().slideUp();
            $('.form').delay(300).slideDown();
            });

            $(document).ready(function(){
                $("#payment").click(function(){
                    $("#paymentform").empty();
                    $("#outercontainer").append("<div class='info'><h1>Payment Successful</h1></div>");
                });
                });
      </script>
</body>
</html>