<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <link rel="stylesheet" href="../static/css/style.css">

    <link rel="icon" href="../static/img/icon1.svg" type="image/gif" sizes="16x16">
    <title>Solace | Our Vision</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="font-size: 20px !important;">
            
      <!-- Navigation Bar Logo / Toggle Icon -->
      <a class="navbar-brand" href="../index.html"><img src="../static/img/icon1.svg" width="60" height="62" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navigation Bar Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link" href="../index.html">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="about.html">About</a></li>
          <li class="nav-item active"><a class="nav-link disabled" href="#">Vision</a></li>
          <li class="nav-item"><a class="nav-link" href="login.html">Login</a></li>
        </ul>

        <!-- Navigation Search Bar -->
        <form class="form-inline my-2 my-lg-0">
          <div class="container-fluid">
            <div class="row">
              <div class="col-8"><input class="form-control mr-sm-2" type="search" placeholder="Search Genre" aria-label="Search"></div>
                <div class="col"><button class="btn btn-outline-secondary" type="submit"><i class="fa fa-search text-white"></i></button></div>
              </div>
            </div>
        </form>
      </div>

    </nav>


    <div class="section2">
        <div class="welcome-msg" >
            <br><br><br>
          <h2>Our Vision</h2><br><br>

            <!-- Container 2 Paragraph -->

              <h4 style="word-spacing: 5px; line-height: 1.5;">To design a portal where a user will be able to donate, 
                sell, buy or rent books. Due to the current pandemic situation, 
                we will be adding users by providing an option for delivery and 
                pick up. We will be using a library-based model where the books will 
                be collected by the admin and further can be rented or bought by another user. 
                This solves the problem of access to needed books even when shops are closed or 
                printing of books has paused. Furthermore, it helps in solving the issue of a 
                user having books that are not required and hence passing it on to someone who 
                can make better use of it instead of throwing it away. The main advantage of
                 this type of system is that the admin has control over the quality, and 
                 authenticity of material procured and hence the customer can remain worry-free 
                 when making a decision.<br><br><br>
                <div class="standout">Happy reading!</div> 
              </h4>
        </div>
    </div>
    
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="line"></div>
            <div class="second2">
              <a href="https://instagram.com" target="_blank"> <i class="fab fa-instagram fa-3x margin"></i></a>
              <a href="https://github.com/" target="_blank"> <i class="fab fa-github fa-3x margin"></i></a>
              <a href="https://www.linkedin.com" target="_blank"> <i class="fab fa-linkedin fa-3x margin"></i></a>
                  
            </div>
            <small class="copyright">Copyright © Solace</small>
          </div>
        </div>
      </div>
    </footer>

    <script src="../static/js/script.js"></script>
</body>
</html>