@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
@import url("https://fonts.googleapis.com/css?family=Metal+Mania");

@font-face {
    font-family: "Booter - Zero Zero";
    src: url("Fonts/Booter - Zero Zero.woff") format("woff"),
         url("Fonts/Booter - Zero Zero.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: Raleway;
    
    
}
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #000000;
}
    .nav ul {
        margin: 0;
    }
    
    .nav li {
        display: inline;
    }
    
    .nav a {
        display: inline-block;
        padding: .5em;
        color: white;
        text-decoration: none;
    }
    .main-nav li {
        padding: 0 5%;
    }
    
    .nav a:hover {
        background-color: rgba(255, 255, 255, .3)
    }
    
    .main-header {
        background-color: rgba(0, 0, 0, .6);
        background-image: url("Images/Header Background.jpg");
        background-blend-mode: multiply;
        background-size: cover;
        padding-bottom: 30px;
    }

/*.navbar{
    min-height: 60px !important;
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-nav > li > a, .navbar-brand{
    padding-top: 6px !important;
    padding-bottom: 0 !important;
    height: 33px;
    */


.b1{
    border-left:10px dotted silver;
    border-width: thick;
}

.row-relative{ position: relative;}
.col-border-padding { padding-left: 15px; }
.col-border
{
    padding-left: 0;
    position: static;
}

.col-border:before
{
    content: " ";
    position: absolute;
    border-top: 2px dotted silver;
    border-bottom: 2px dotted silver;
    border-left:px dotted silver;
    border-right: 2px dotted silver;


}
.container{
    box-sizing: border-box;
    /*font-family: Raleway;*/
    color: #777;
}